@import "tailwindcss";

body {
  max-width: 100%;
  min-height: 100vh;

  font-weight: 400;
  color: white;
  font-style: normal;
}
button,
a {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
